<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FubarCoder.RestSharp.Portable" version="3.1.0" targetFramework="net45" />
  <package id="FubarCoder.RestSharp.Portable.Core" version="3.1.0" targetFramework="net45" />
  <package id="FubarCoder.RestSharp.Portable.HttpClient" version="3.1.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net45" />
  <package id="PushSharp" version="4.0.10" targetFramework="net45" />
</packages>